<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfzn.deepuses">
    <!-- Required -->
    <permission
        android:name="com.mfzn.deepuses.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required  极光推送 -->
    <uses-permission android:name="com.mfzn.deepuses.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 地图SDK（包含其搜索功能）需要的基础权限 -->
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- X5内核 -->
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- ShareSDK需要权限start -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.khgl.AddProActivity" />
        <activity android:name=".activity.khgl.MyShnewActivity" />
        <activity android:name=".activity.khgl.MultipleSelect2Activity" />
        <activity android:name=".activity.khgl.SelectComActivity" />
        <activity android:name=".activity.khgl.AddShareActivity" />
        <activity android:name=".activity.khgl.MyShareActivity" />
        <activity android:name=".activity.khgl.MyCustomerDetailsActivity" />
        <activity android:name=".activity.khgl.MyCustomerActivity" />
        <activity android:name=".activity.khgl.EditTaskActivity" />
        <activity android:name=".activity.khgl.SelectCustomer2Activity" />
        <activity android:name=".activity.khgl.AddTaskActivity" />
        <activity android:name=".activity.khgl.MyTaskActivity" />
        <activity android:name=".activity.khgl.AddFollowActivity" />
        <activity android:name=".activity.khgl.MultipleSelectActivity" />
        <activity android:name=".activity.khgl.SelectCustomerActivity" />
        <activity
            android:name=".activity.khgl.SelectTypeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/PayDialogStyle" />
        <activity android:name=".activity.khgl.SearchMyCustomerActivity" />
        <activity android:name=".activity.khgl.SearchCustomerActivity" />
        <activity android:name=".activity.khgl.BulidCustomerActivity" />
        <activity android:name=".activity.khgl.CustomerDetailsActivity" />
        <activity android:name=".activity.khgl.CustomerMangerActivity" />
        <activity android:name=".activitymy.brick.BrickRecordActivity" />
        <activity android:name=".activityxm.shgd.NewsDispatchActivity" />
        <activity android:name=".activitymy.brick.PaymentModeActivity" />
        <activity android:name=".activitymy.brick.RechargeActivity" />
        <activity android:name=".activitymy.brick.BrickActivity" />
        <activity android:name=".activitymy.brick.TransactionRecordActivity" />
        <activity android:name=".activitymy.OperationGuideActivity" />
        <activity android:name=".activity.xmgl.SelectProjectActivity" />
        <activity android:name=".activity.xmgl.MyOrderActivity" />
        <activity android:name=".activity.xmgl.MyProjectActivity" />
        <activity android:name=".activityxm.shgd.SelectCustomActivity" />
        <activity android:name=".activityxm.shgd.GongdanDetailsActivity" />
        <activity android:name=".activity.project.ProjectSearchActivity" />
        <activity android:name=".activity.fx.SearchChangjingActivity" />
        <activity android:name=".activityxm.shgd.AlreadyAppraiseActivity" />
        <activity android:name=".activity.fx.SearchZixunActivity" />
        <activity android:name=".activityxm.SearchOrderActivity" />
        <activity
            android:name=".activitymy.WebviewX5Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity android:name=".activity.PpcbActivity" />
        <activity android:name=".activity.KbbzActivity" />
        <activity android:name=".activitymy.MyPromotionActivity" />
        <activity android:name=".activitynews.ProjectApplyActivity" />
        <activity android:name=".activitynews.SystemMsgActivity" />
        <activity android:name=".activitynews.ProjectMsgActivity" />
        <activity android:name=".activitymy.setting.SwitchCompanyActivity" />
        <activity android:name=".activity.myteam.SelectManage3Activity" />
        <activity android:name=".activity.myteam.SelectManage2Activity" />
        <activity android:name=".activity.myteam.SelectManageActivity" />
        <activity android:name=".activity.myteam.SelectBranchActivity" />
        <activity android:name=".activity.myteam.AuthoritySettingActivity" />
        <activity android:name=".activitymy.EnginerMaillistActivity" /> <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"> <!-- shareSDK分享 -->
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- shareSDK分享 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" /> <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.mfzn.deepuses" />
            </intent-filter>
        </activity> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.mfzn.deepuses.DataProvider"
            android:exported="false"
            android:process=":pushcore" /> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.mfzn.deepuses" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.mfzn.deepuses.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.mfzn.deepuses" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpushpackage.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.mfzn.deepuses" />
            </intent-filter>
        </receiver> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- since 3.3.0 接收JPush相关事件 -->
        <receiver android:name=".jpushpackage.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.mfzn.deepuses" />
            </intent-filter>
        </receiver> <!-- since 3.3.0 Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="false"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="com.mfzn.deepuses" />
            </intent-filter>
        </activity> <!-- since 3.3.0 Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!-- User defined.  For test only 继承自cn.jpush.android.service.JCommonService -->
        <service
            android:name=".jpushpackage.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="31b37a4481b5df62efc4cf36" /> <!-- </>值来自开发者平台取得的AppKey -->
        <activity android:name=".activityxm.kf.AddWhProjectActivity" />
        <activity android:name=".activityxm.kf.EditCustomActivity" />
        <activity android:name=".activityxm.kf.CustomTypeActivity" />
        <activity android:name=".activity.company.JoinXiangmuActivity" />
        <activity android:name=".activity.project.ProjectNewsActivity" />
        <activity android:name=".activity.project.EditProjectActivity" />
        <activity android:name=".activity.project.ProjectDetailsActivity" />
        <activity android:name=".activity.project.ProjectManageActivity" />
        <activity android:name=".activityxm.shgd.SelectEnginerActivity" />
        <activity android:name=".activityxm.shgd.EnginerListActivity" />
        <activity android:name=".activityxm.shgd.DefendSettingActivity" />
        <activity android:name=".activityxm.shgd.ShouhuSettingActivity" />
        <activity android:name=".activityxm.shgd.EditWorkorderActivity" />
        <activity android:name=".activityxm.shgd.AlreadyCancalActivity" />
        <activity android:name=".activityxm.shgd.CheckAppraiseActivity" />
        <activity android:name=".activityxm.shgd.AlreadyCloseActivity" />
        <activity android:name=".activityxm.shgd.SettingNexttimeActivity" />
        <activity android:name=".activityxm.shgd.WaitAppraiseActivity" />
        <activity android:name=".activityxm.shgd.InServiceActivity" />
        <activity android:name=".activityxm.shgd.WaitReceiveActivity" />
        <activity android:name=".activityxm.shgd.WorkorderDispatchActivity" />
        <activity android:name=".activityxm.shgd.DaiPaigongActivity" />
        <activity android:name=".activityxm.shgd.CancalAcceptActivity" />
        <activity android:name=".activityxm.shgd.IfAcceptActivity" />
        <activity android:name=".activityxm.shgd.WorkorderAcceptActivity" />
        <activity android:name=".activityxm.shgd.StayAcceptActivity" />
        <activity android:name=".activityxm.shgd.AddWorkorderActivity" />
        <activity android:name=".activityxm.shgd.WorkorderListActivity" />
        <activity android:name=".activityxm.SearchProjectActivity" />
        <activity android:name=".activityxm.shhf.VisitRecordActivity" />
        <activity android:name=".activityxm.shhf.AddVisitSuccessActivity" />
        <activity android:name=".activityxm.shhf.AddReturnVisitActivity" />
        <activity android:name=".activityxm.kf.AddCustomActivity" />
        <activity android:name=".activityxm.kf.CustomSettingActivity" />
        <activity android:name=".activityxm.staging.ProjectStagingActivity" />
        <activity android:name=".activityxm.ProjectCodeActivity" />
        <activity android:name=".activityxm.FoundSuccessActivity" />
        <activity android:name=".activityxm.MapLocationActivity" /> <!-- 定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d4db1000eadd8422115fa8030f2fa6a3" /> <!-- 定位需要的服务 适配Android Q需要加上android:foregroundServiceType="location" -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activityxm.SelectPerson3Activity" />
        <activity android:name=".activityxm.SelectPerson2Activity" />
        <activity android:name=".activityxm.SelectPersonActivity" />
        <activity android:name=".activityxm.FoundProjectActivity" />
        <activity android:name=".activity.jiagou.BatchAddStaffActivity" />
        <activity android:name=".activity.jiagou.ZuzhiJiagou3Activity" />
        <activity android:name=".activity.jiagou.ManageJiagou3Activity" />
        <activity android:name=".activity.jiagou.ManageJiagou2Activity" />
        <activity android:name=".activity.jiagou.DepartmentActivity" />
        <activity android:name=".activity.jiagou.EditStaffActivity" />
        <activity android:name=".activity.jiagou.ManageJiagouActivity" />
        <activity android:name=".activity.myteam.ClipCircularActivity" />
        <activity android:name=".activity.jiagou.SearchKeywordActivity" />
        <activity android:name=".activity.jiagou.RemarksAtivity" />
        <activity android:name=".activity.jiagou.PersonalInfoActivity" />
        <activity android:name=".activity.company.SelectCompanyActivity" />
        <activity android:name=".activitymy.setting.NewsSettingActivity" />
        <activity android:name=".activitymy.setting.SettingNewsPwdActivity" />
        <activity android:name=".activitymy.setting.EditionInfoActivity" />
        <activity android:name=".activitymy.setting.ReplacePhone3Activity" />
        <activity android:name=".activitymy.setting.ReplacePhone2Activity" />
        <activity android:name=".activitymy.setting.ReplacePhoneActivity" />
        <activity android:name=".activitymy.setting.AccountSettingActivity" />
        <activity android:name=".activitymy.setting.SettingActivity" />
        <activity android:name=".mine.activity.MyCardActivity" />
        <activity android:name=".mine.activity.CompanyListActivity" />
        <activity android:name=".mine.activity.MyCardEditActivity" />
        <activity android:name=".activitymy.FeedbackActivity" />
        <activity android:name=".activitymy.ModifyCallActivity" />
        <activity android:name=".activitymy.setting.PersonInfoActivity" />
        <activity android:name=".activity.project.ProjectCopyActivity" />
        <activity android:name=".activity.project.TemplateSelectActivity" />
        <activity android:name=".activity.project.FoundTemplateActivity" />
        <activity android:name=".activity.project.ProjectSurveyActivity" />
        <activity android:name=".activity.project.AppointPersonActivity" />
        <activity android:name=".activity.project.ProjectJoinActivity" />
        <activity android:name=".activity.project.NewlySuccessActivity" />
        <activity android:name=".activity.project.CustomerLevelActivity" />
        <activity android:name=".activity.project.NewlyProjectActivity" />
        <activity android:name=".activity.myteam.ManageSettingActivity" />
        <activity android:name=".activity.myteam.CompanyHomepageActivity" />
        <activity android:name=".activity.myteam.CompanyScaleActivity" />
        <activity android:name=".activity.myteam.CompanyInfoActivity" />
        <activity android:name=".activity.myteam.CompanyLogoActivity" />
        <activity android:name=".activity.myteam.TeamManageActivity" />
        <activity android:name=".activitynews.SelectBumenActivity" />
        <activity android:name=".activitynews.QuerenRequestActivity" />
        <activity android:name=".activitynews.TeamApplyActivity" />
        <activity android:name=".activity.jiagou.ShareCodeActivity" />
        <activity android:name=".activity.jiagou.ZuzhiJiagou2Activity" />
        <activity android:name=".activity.jiagou.InvitationJoinActivity" />
        <activity android:name=".activity.jiagou.ZuzhiJiagouActivity" />
        <activity android:name=".activity.company.ApplySuccessActivity" />
        <activity android:name=".activity.company.ApplyJoinActivity" />
        <activity android:name=".activity.company.SelectLableActivity" />
        <activity android:name=".activity.company.EstablishCompanyActivity" />
        <activity android:name=".activity.company.EstablishJoinActivity" />
        <activity android:name=".activity.login.ForgotNewPwdActivity" />
        <activity android:name=".activity.login.ForgotCodeActivity" />
        <activity android:name=".activity.login.ForgotPwdActivity" />
        <activity android:name=".activity.login.SettingNicknameActivity" />
        <activity android:name=".activity.login.RegisterPwdActivity" />
        <activity android:name=".activity.login.RegisterCodeActivity" />
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.login.GuideActivity" />
        <activity android:name=".activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".zxings.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activitynews.TeamMsgActivity" />
        <activity android:name=".activityxm.shgd.FwzHuizhiDetailActivity" />
        <activity android:name=".activity.fx.ZixunDetailActivity" />
        <activity
            android:name=".purchasesellsave.setting.activity.CommodityCreateActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.AddMoneyAccountActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.setting.activity.CommodityPhotoCreateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.White"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.GoodsCategoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.GoodsUnitListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.GoodsUnitListManagetActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.InventorySetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.White"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".purchasesellsave.setting.activity.InventoryWarnSetActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.IncomeExpenseTypeSelectedActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.OtherCostActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.PersonStoreListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.GoodsListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.GoodsSelectListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.GoodsDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.GoodsCategoryManagerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.SupplierListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.SupplierListManagerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.SettingCustomerMangerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.CustomerDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.CreateSetCustomerActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.setting.activity.SupplierCreateEditActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.StoreListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.StoreCreateEditActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.setting.activity.MoneyAccountListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.sale.activity.OrderOfferListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.sale.activity.OrderInputListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.sale.activity.MyCustomerSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.sale.activity.OtherCostSelectActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.sale.activity.AddOrderOfferActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.sale.activity.AddOrderTakeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.sale.activity.AddOrderSalesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.sale.activity.AddOrderSalesBackActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.sale.activity.AddOrderTakeBackActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.store.activity.StoreCheckListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.store.activity.StockListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.store.activity.AddOrderStockCheckActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.store.activity.StoreAllCheckListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.store.activity.StoreAllCheckSponsorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.store.activity.StockLogListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.store.activity.AddOrderAllotActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.store.activity.OrderAllotListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.store.activity.AddOrderOtherInActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.store.activity.AddOrderOtherOutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.store.activity.OrderOtherInOutListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.shop.activity.AddShopActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.shop.activity.ShopListManagerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.shop.activity.ShopDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activityfx.ChangjingListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activityfx.ZixunListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.user.TodoOrderCheckActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".purchasesellsave.user.TodoOrderCheckDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".purchasesellsave.capital.activity.IncomeExpenseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.AddBorrowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.AddIncomeExpenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.BorrowListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.IncomeExpenseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.IncomeExpenseTypeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.ShouldGatherePayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.MoneyTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.capital.activity.MoneyAccountFinancialLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.purchase.AddOrderPurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.purchase.OrderPurchaseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchasesellsave.purchase.OrderPurchaseDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>